[2019-04-25 03:36] soopsio opened #1 "terminal widgets not support chinese"
<img width="224" alt="图片" src="https://user-images.githubusercontent.com/32614138/56708198-63252700-674e-11e9-948e-a0a725603fc4.png">

[2019-04-26 02:57] gcla commented on #1
Hi - thanks for your bug report. Could you help me understand your example a little better? I think your screenshot shows filenames in a list. Am I right that those filenames contain GBK characters? Do you know what encoding is used for the names when the files are saved e.g. UTF-8, or maybe if it's Windows it's a specific codepage? Would it be possible for you to share some of your example code t

[2019-04-26 02:58] gcla opened #2 "gowid does not correctly handle text where runes are width >1"
e.g. 你好，世界

[2019-04-26 04:58] srlehn commented on #2
https://github.com/mattn/go-runewidth probably helps

[2019-04-28 03:01] soopsio commented on #1
The filename is UTF-8 characters, and the environment is as follows:
MacOS  iTerm2
iTerm:
<img width="713" alt="图片" src="https://user-images.githubusercontent.com/32614138/56857851-d45e1780-69a4-11e9-913d-6816b5d376aa.png">
gowid terminal:
<img width="885" alt="图片" src="https://user-images.githubusercontent.com/32614138/56857864-e8097e00-69a4-11e9-92de-17c56c73475b.png">

[2019-04-28 22:28] hernanmd opened #3 "Install command fails on macOS"
On macOS High Sierra 10.13.6 the install command fails:

[code]

Output:

[code]

Should I run the command as root?

[2019-04-28 23:53] gcla commented on #3
hi @hernanmd - no, sudo/root shouldn't be necessary. Would you mind sending me the output of

$ go env

and

$ go version

[2019-04-29 00:09] hernanmd commented on #3
Ok, here it is:

[code]

Please let me know if you need to check something else.

[2019-04-29 02:20] gcla commented on #3
Thanks @hernanmd - I think the problem is that GOBIN is set to /bin. I'm not sure how it came to be that way, but could you try

$ unset GOBIN

in the shell before trying to install gowid? Or failing that,

$ export GOBIN="/Users/hernan/go/bin"

(and mkdir that directory if it's not there)

[2019-04-29 02:22] gcla commented on #1
Ah, thanks @soopsio , I misunderstood - the problem's in the terminal widget. I'll investigate!

[2019-04-29 05:39] soopsio commented on #1
I'm really looking forward to it. I'm thinking about using it in a production environment.

[2019-05-03 03:42] gcla commented on #1
Hi - I've pushed some changes to the branch widerunes on github, all around
non-ASCII characters in gowid - runes that take up >1 space when rendered, and
also some bugs handling UTF-8-encoded runes. Please do give it a try and let
me know. There are tests, but I don't consider this solid yet. If you have
module support in go (1.11 or higher), you can start a project using the
widerunes branch wit

[2019-05-03 03:43] gcla commented on #2
Some fixes are now present in the widerunes branch. I'll merge these when I feel more confident in them.

[2019-05-03 05:07] soopsio commented on #1
Please excuse my chinglish...
The Chinese characters are already correct, but the cursor position does not seem to be correct, and in some cases the characters printed on the previous line appear before the cursor.
![image](https://user-images.githubusercontent.com/32614138/57120392-b9741480-6da3-11e9-8472-2a8dc0964d71.png)

[2019-05-04 14:26] gcla commented on #1
Your English is very good and much better than my Mandarin! ;-)

I am having trouble trying to make these artifacts appear. I see the problem in your screenshot - the a, b, i at the start of the prompt. I can't trigger it on my linux laptop. Would it be possible for you to send your .zshrc? Maybe some setting in there will help me reproduce the problem. Thanks!

[2019-05-04 18:18] gcla commented on #2
If you want to try these changes, there are some simple instructions in this issue:

https://github.com/gcla/gowid/issues/1#issuecomment-488917734

[2019-05-05 09:15] soopsio commented on #1
This is my .zshrc
# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH=/Users/wangyongjing03/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/T

[2019-05-05 09:39] soopsio commented on #1
This is my zshrc:
export ZSH=/Users/****/.oh-my-zsh
ZSH_THEME="agnoster"
plugins=(
  git zsh-autosuggestions zsh-syntax-highlighting
)
source $ZSH/oh-my-zsh.sh
source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
DEFAULT_USER="****"

[2019-05-05 16:05] gcla commented on #1
Unfortunately I still can't reproduce it. :-( I have one more favor to ask. When you're running your go terminal widget application, at the shell prompt, type

$ script

It'll start another zsh. If you can then reproduce the problem i.e. your display shows unexpected artifacts, like characters in the wrong place, then exit the shell and there should be a file called typescript in the directory. If

[2019-05-06 02:26] soopsio commented on #1
It is easier to reproduce character errors at the bottom of the terminal widget
[typescript 2.zip](https://github.com/gcla/gowid/files/3146324/typescript.2.zip)

[typescript.zip](https://github.com/gcla/gowid/files/3146319/typescript.zip)

[2019-05-10 09:10] xyproto opened #4 "Return does not jump to the next line in the editor"
Steps to reproduce:

1. Clone the latest master of gowid
2. Enter the gowid-editor example
3. `go build`
4. `touch test.txt`
5. Resize the terminal window to be relatively narrow (ie. 60 characters wide)
7. Run `./gowid-editor test.txt`
8. Press return and watch the cursor move 1 to the right.
9. Press return again and watch the cursor jump 1 line down and then not at the beginning of the next lin

[2019-05-11 02:59] gcla commented on #4
Thanks for the report, and ugh, sorry for the crummy bug!

I've pushed a new branch to github called widerunes - its purpose was to fix some issues with runes that require more than one terminal character to display, but it also fixes some bad behavior in the edit widget. Could you give that branch a go? Your instructions above would apply except add step

1.5. ```git checkout widerunes```

[2019-05-11 11:46] soopsio commented on #1
This is typescript documented in the main terminal
[typescript.gz](https://github.com/gcla/gowid/files/3168982/typescript.gz)

[2019-05-15 04:15] gcla commented on #1
Please could you try setting this in your environment before running your tui.go program?

[code]

I need to understand better how go-runewidth works, but I was able to reproduce similar artifacts by artificially setting that variable to 1 in my environment. Without the variable, go-runewidth guesses an appropriate value based on LANG, locale, etc - so for you I expect the value is on by default a

[2019-05-15 09:40] soopsio commented on #1
Perfect, problem solved after setting RUNEWIDTH_EASTASIAN=0.

[2019-05-19 05:44] R-Smith opened #5 "Tutorial 1 prints debug info on Windows"
On Windows 10, the first application in the tutorial that is supposed to print 'hello world' on the screen is instead printing a line of debug info:

`time="2019-0518T22:37:17-07:00" level=info msg="Terminal was resized" event="&{{13776608856134938696 7999262101 0x69dee0} 148 30}"`

Go 1.12.  Windows 10.

[2019-05-19 05:48] R-Smith opened #6 "Hello World example panics on Windows"
examples\gowid-helloworld\helloworld.go panics on Windows.

[code]

Go 1.12.  Windows 10.

[2019-05-19 08:46] diamondburned opened #7 "Simple examples"
Hey. As a new TUI user hopping from `tview`, the lack of simple examples disturb me. Take a look at this:

https://github.com/gcla/gowid/blob/master/examples/gowid-menu/menu.go

A new person wouldn't for the life of them comprehend this. Comparing this 171 LOC example with `tview`'s example:

[code]

You could see the obvious differences.

My recommendation: move the current examples to `advanced/

[2019-05-19 18:14] gcla commented on #7
Thanks for the feedback. Point taken about the menu example, and the lack of comments doesn't help...

One relatively simple example is probably the "hello world" one - https://github.com/gcla/gowid/blob/master/examples/gowid-helloworld/helloworld.go. Of course it doesn't do much. The others that follow the Tutorial document - gowid-tutorial* - are quite straightforward too.

That said, I understa

[2019-05-19 18:14] gcla commented on #5
Thanks, and Doh! I'll look into this.

[2019-05-20 16:45] diamondburned commented on #7
I would also like to add that I really like how `tview` has simple examples for each of its widgets.

[2019-05-20 18:20] R-Smith commented on #6
A quick debug - it looks like the errors happen when using __gowid.MakeRGBColor()__ in the main application.  During rendering, a call is being made to __IColorToTCell__ with a ColorMode of "__Mode16Colors__".  Then a method call is made for __color.ToCellColor(mode)__.  There's a switch/case for the various color modes, but Mode16Colors isn't accounted for, so it's defaulting to a panic.

So in .

[2019-05-21 02:03] #5 closed

[2019-05-21 02:04] gcla commented on #5
Hi - I changed the app default to log to a file named after the running executable, rather than stdout.

[2019-05-21 02:04] gcla commented on #6
Thanks, that does help!

[2019-05-21 23:14] gcla commented on #6
Hi - I followed your suggestion :) Since the code already interpolates a color for 256-color and 88-color mode, I've tried to do that for 16, 8 and 2-color modes as well. I've lightly tested 8-color and 2-color - not 16 because I don't think I have a terminal that officially reports 16 colors via terminfo, which tcell respects. So 16 is probably wrong at the moment.

I've pushed this to a branch c

[2019-05-21 23:17] gcla commented on #3
I'll close this for now, but please re-open if it's still an issue.

[2019-05-21 23:17] #3 closed

[2019-05-22 00:45] R-Smith commented on #6
I tried it out the rgbto8colors branch and it looks like it's working great.  No panics on the helloworld example and it renders like you'd expect on 16 colors.  I ran through all the example programs to make sure there weren't any side effects and everything looks good.  Thank you!  And awesome job on termshark, btw.

[2019-05-23 02:44] gcla commented on #6
Thanks :) I merged rgbto8colors to master, so I'll close this issue.

[2019-05-23 02:44] #6 closed

[2019-05-23 02:45] gcla commented on #4
I've merged some changes back to master which I think fix this issue. Please do re-open if it still occurs.

[2019-05-23 02:45] #4 closed

[2019-05-23 02:45] gcla commented on #2
Changed merged to master - closing this issue.

[2019-05-23 02:45] #2 closed

[2019-05-23 02:46] gcla opened #10 "Some examples panic if TERM=xterm"
I suspect it's an incomplete implementation of UrwidColor that is not handling 8-color mode correctly.

[2019-05-23 02:47] gcla commented on #10
widgets1, graph, editor, terminal

[2019-05-23 10:16] soopsio commented on #1
There is also a problem found when typing Chinese, will echo twice.
[typescript.zip](https://github.com/gcla/gowid/files/3211596/typescript.zip)

[2019-05-24 01:07] #10 closed

[2019-05-24 22:55] gcla commented on #1
Thanks for the new bug report. I've pushed a change to master that I think fixes this issue. Would you let me know if it doesn't work for you?

[2019-05-26 01:59] R-Smith opened #11 "Jumping cursor on Windows"
When a text input box has focus with a blinking cursor, moving your mouse pointer across the console window causes the cursor to very rapidly jump back and forth between the top left corner and the cursor position in the text box. I can upload an animated gif if that helps explain it.  I've only seen the issue on Windows, and only on edit-type widgets that have focus and a blinking cursor.

[2019-05-26 02:02] R-Smith opened #12 "Debug info prints when resizing terminal window"
While resizing a terminal window on Linux, debug info is printing on the bottom of the window.  It seems like 75% of the time the debug info stays printed after the resize is done.  This doesn't happen on Windows.

![resize](https://user-images.githubusercontent.com/22605441/58376405-a32f2380-7f1f-11e9-8a00-e23639b6d7f0.png)

[2019-05-26 16:34] gcla commented on #12
Hi, thanks for the report. A few quick questions about your application and its environment - could you check the gowid against which you're building includes this commit?

https://github.com/gcla/gowid/commit/7bbacb2c1cf043a115a9ab2b8b007c6bccc77b13

Unless a log argument is provided to NewApp, the default is now to log to a file named after the application instead of the tty. I think in hindsigh

[2019-05-26 17:12] R-Smith commented on #12
Yeah, it looks like I forgot to update this system.  The issue is fixed by that commit.  Thanks!

[2019-05-26 17:12] #12 closed

[2019-05-26 18:18] mdouchement opened #13 "Can text from edit widget be selectable for copy/past action?"
I'm building a TUI application that use the [edit](https://godoc.org/github.com/gcla/gowid/widgets/edit) widget like your [examples/gowid-editor/editor.go](https://github.com/gcla/gowid/blob/master/examples/gowid-editor/editor.go) example.

I wanted to have the possibility of selecting some piece of text for copying it but I don't figure out how do do that.

[2019-05-26 18:30] gcla commented on #13
Hi - I think that a number of terminals support normal copying and pasting when the user holds down the shift key. So even if the terminal application is intercepting mouse clicks, you can bypass that by holding shift and then clicking. That said, I've noticed trouble pasting longish strings into the edit widget in gowid - I'm not sure why yet, so I'll open an issue. Let me know if you run into th

[2019-05-26 18:32] gcla opened #14 "Can't paste long strings into text-accepting widgets"
e.g. run the editor example and paste a longish (> 10 characters) string using the mouse e.g. shift-right-click Paste in gnome terminal. Only the first few characters appear.

[2019-05-27 04:01] soopsio commented on #1
There are no more questions now. Thanks!

[2019-05-27 04:01] #1 closed

[2019-05-27 12:22] mdouchement commented on #13
Ok I found the text selection in iTerm2 by using the alt modifier.

Yep I also run in trouble when pasting long lines or multilines.

[2019-05-27 18:03] gcla commented on #14
This seems to be an issue in tcell - there are issues logged for tcell and for tview, a widget framework built on tcell:

https://github.com/gdamore/tcell/issues/200

https://github.com/rivo/tview/issues/92

I'll figure out what to do for gowid - maybe fork tcell temporarily and use this patch:

https://github.com/soyking/tcell/commit/9addd5bbe425a096257198e9832720dfd0e551a7

[2019-05-29 03:48] gcla commented on #14
I've made a couple of PRs to tcell to try to address this and other pasting problems. From previous comments the author has made, he's very busy and tcell isn't paying the bills, so I'm not sure if there'll be a quick reply. I'll give it a short time, then maybe maintain a minor fork of tcell until the issue is resolved one way or another.

[2019-05-29 03:50] gcla commented on #13
Thanks for the feedback. I'll close this issue, and track the pasting issue in #14.

[2019-05-29 03:50] #13 closed

[2019-05-29 08:14] mdouchement commented on #14
In this fork https://github.com/zyedidia/tcell used by [micro](https://github.com/zyedidia/micro) editor, there are a lots of commits for addressing pasting problems that can be useful.

[2019-05-29 16:50] R-Smith commented on #11
It looks like gowid triggers a redraw every time the mouse coordinates change. I've come up with a way to stop the cursor jumping, but I have no idea if it's right way to approach it. Here's what I have -

**canvas.go - Windows cursor jump fix attempt**
[code]

[2019-05-30 02:37] gcla commented on #14
Thanks, this is interesting - it looks like the fork was made back in 2016! I wonder if the author tried to merge changes back upstream? Makes me wonder if this fork might be more fruitful than the original repo.

Would you be interested in trying out the paste fixes I submitted upstream? I can describe how to adjust your go project to use the changes. Are you using go modules?

[2019-05-30 03:43] gcla commented on #11
Hi Ryan - thanks, I like it! I have just one suggestion - could you check (cpos.X, cpos.Y) are within the bounds of the canvas, (canvas.BoxColumns(), canvas.BoxRows()) before calling ShowCursor()? I suppose then if you didn't call ShowCursor(), call HideCursor(). I tried your code and it works for me :-) If you can send a PR I'll merge it right in.

I also looked at tcell's console_win.go:doCursor

[2019-05-30 03:57] gcla commented on #11
https://github.com/gdamore/tcell/pull/282

[2019-05-30 11:04] mdouchement commented on #14
Using `replace github.com/gdamore/tcell => github.com/gcla/tcell fixpastelimit` works like a charm  for pasting long lines/multilines.

I also tried `github.com/gcla/tcell bundleevents` that has one more commit but it fails to compile:
[code]

<br>
<br>

I think the `zyedidia/tcell` fork has custom modifications for micro editor. Don't know if it would suit to your project but it worth to ask the

[2019-05-30 22:03] R-Smith opened #15 "Usage questions"
1. Is there any way to completely disable logging?

2. On a list widget, is there a way to tell if there is more content above or below what is currently shown on the screen? I found the AtTop, AtBottom, and AtMiddle functions, but they don't seem to work like I'm thinking.  I just wanted some way to indicate to the user that there are additional items to scroll through.  I can't figure out exactl

[2019-05-30 22:51] gcla commented on #15
Hi Ryan - to disable logging, try something like this:

[code]

For the list - there is a newer example in termshark's code - here's a link:
https://github.com/gcla/termshark/blob/master/widgets/withscrollbar/withscrollbar.go. It relies on list.CalculateOnScreen() which will return 3 integers, hopefully giving you what you need. If the first value is zero, then the list is rendering the first item

[2019-05-30 23:00] gcla commented on #14
Sorry @mdouchement I forgot there are gowid-side changes to make use of the tcell bundleevents branch. Could you pull from gcla/gowid and point your app at the new gowid bundleevents branch too?

[2019-05-31 15:35] mdouchement commented on #14
NP, it seems the compilation error remain:
[code]

Based on the commits' sha1, my `go.mod` looks good:
[code]

[2019-06-03 03:51] gcla commented on #14
Sorry to waste your time, there was a file I forgot to check in :-( It worked for me because I had a replace statement pointing to the changes on my local disk. I've pushed it now to gcla/tcell@bundleevents, along with another change to replace imports of gdamore/tcell with gcla/tcell. Just on the bundleevents branch of course, for the purposes of this experiment.

[2019-06-03 11:22] mdouchement commented on #14
The paste is faster than `fixpastelimit` but unhandled events no longer work in my project:

[code]

[2019-06-04 03:00] gcla commented on #14
Hi - trying to think what could be going wrong... Is unhandled() no longer called when you run your app? If it is called, could you print/log something like

[code]

[2019-06-04 22:01] R-Smith commented on #15
Thanks, I was able to get my scroller-type widget to work based on your example.

[2019-06-04 22:01] #15 closed

[2019-06-05 11:55] mdouchement commented on #14
Here the result:
[code]

I've dig futher more and I found that  the `ok` variable is false in this statement  `evk, ok := ev.(*tcell.EventKey)`.
I'm wondering if there is an issue between type assertions and the gomodule `replace`.

[2019-06-06 01:03] gcla commented on #14
Yes, sounds like it might be that - tcell will be sending you *EventBundle events now, but if gowid is on the right branch, its HandleTCellEvent function should unpack *EventBundle into individual events like *EventKey, *EventMouse, and process them like normal. If you're somehow linking to the non-bundleevents version of gowid, it would log an unexpected event type, and not pass it on to your app

[2019-06-06 02:11] gcla commented on #14
I just re-read your previous comment, and realized I'm probably wrong! Could you check to make sure you don't have any references in your source code to gdamore/tcell and and if you do to replace those with gcla/tcell? That would also be consistent with your hunch about type assertions and "replace".

[2019-06-07 13:31] mdouchement commented on #14
Ok, it works by importing `github.com/gcla/tcell` in the file where `ev.(*tcell.EventKey)` is used.

[2019-06-10 02:24] gcla commented on #14
The tcell author merged the PR for fixpastelimit: https://github.com/gdamore/tcell/pull/280. I'm not yet sure what will happen to the bundlevents PR. I'll probably adjust the gcla/tcell fork so that it's up to date with respect to gdamore/tcell, then re-apply bundlevents on top. Just to let you know in case it causes problems for your application! I'll close this issue for now.

[2019-06-10 02:24] #14 closed

[2019-06-10 23:48] R-Smith opened #16 "Usage question - extra space between list items"
I'm building a navigation menu using a list widget.  I have an OnFocusChanged callback to change the display based on which menu item was selected.  How would I go about adding an extra gap between some of the list items?  (Such as:  Item A, Item B, Item C, [SPACE], Item D, Item E).  Right now I'm adding the gap to the list using the widget: **disable.New(fill.NewEmpty())**.

The method I came up

[2019-06-10 23:50] R-Smith commented on #16
Also, is there a better way to determine which item received focus on the callback?  In my above example, I'm using:

[code]

And then I use **position** as an index for my slice of widgets.

[2019-06-11 17:54] R-Smith opened #17 "Mouse hover steals focus"
I have a pretty simple layout with a few columns and piles - For whatever reason, if you hover the mouse over certain parts of the layout, it will steal the focus.  I'm pasting in a simple example.  Notice that hovering your mouse over the text on the right side, causes the button below it to suddenly get focus.

[code]

[2019-06-13 16:45] R-Smith commented on #17
It seems to only happen with a columns widget.  Pile widgets don't have this behavior.  In a way, mouse hovering causing focus events is a nice feature, just inconsistent with the library.  A separate mouse focus widget might be kind of cool.

I came up with a fix for the columns widget, but I don't know if it's the right way to approach it.  What do you think of this?

On widgets/columns/columns.

[2019-06-13 22:29] R-Smith commented on #17
Hang on, that proposed fix causes other issues with mouse clicks in columns.  I'll see if I can work out a better solution.

[2019-06-15 03:13] gcla commented on #17
Thanks :) I'll take a look at your examples this weekend

[2019-06-15 03:15] gcla commented on #11
The author of tcell merged this, so I'll make gowid depend on this newer version of tcell.

[2019-06-15 03:45] #11 closed

[2019-06-15 16:42] richstokes opened #18 "When running hello world code: 30:22: undefined: text.TextContentSegment"

[2019-06-15 22:07] gcla commented on #18
Hi @richstokes - I'll look into this. I should make a bug template of some sort, but would you mind sending me

- the value of `TERM` and the terminal emulator you're using
- if you have it, the full backtrace?

I pushed a couple of changes yesterday to gowid, so worth making sure you're up to date too.

[2019-06-15 22:22] richstokes commented on #18
Thanks;

[code]

iTerm2 on MacOS. Not sure how to get the full trace - thats literally all thats printed:

[code]

On the latest

[2019-06-16 01:43] gcla commented on #18
@richstokes - sorry to waste your time - the documentation has an error, I'll fix it now.

[2019-06-16 02:24] gcla commented on #18
Hi - please could you try replacing "TextContentSegment" with "ContentSegment" in your example.

[2019-06-16 15:28] gcla commented on #17
Hi @R-Smith - could you try your example again with gowid updated to commit 30a07938beee662e1d82101a10f5ba8dadddb9f5? Let me know!

[2019-06-16 16:43] richstokes commented on #18
That has fixed it :)

[2019-06-16 17:27] gcla commented on #16
Definitely a bug, working on it now!

[2019-06-16 17:27] gcla commented on #18
thanks, I'll close this out

[2019-06-16 17:27] #18 closed

[2019-06-16 19:31] gcla commented on #17
Err, I changed my mind :confused: Could you try the branch `mousefocus` instead? I'm not 100% sure of these changes yet, though so far they seem well-behaved. I put them on a branch for a couple of days out of caution. You can make your app use this branch with something like this, assuming your example above is called `myapp.go`:

[code]

I think this also addresses issue #16.

[2019-06-16 19:32] gcla commented on #16
Hi @R-Smith - I commented over in https://github.com/gcla/gowid/issues/17#issuecomment-502479318. Let me know if it helps!

[2019-06-17 05:10] R-Smith commented on #17
I tried the mousefocus branch and it seems to work well.  It fixes both issues I reported and so far I can't find any unwanted side effects.  I think it looks good.  Thanks for taking the time to look into this.

[2019-06-18 02:40] gcla commented on #17
np, thanks for the bug report :) I'll close this now

[2019-06-18 02:40] #17 closed

[2019-06-18 02:41] gcla commented on #16
Closing

[2019-06-18 02:41] #16 closed

[2019-07-14 06:39] bfreis opened #20 "Second example on gowid/docs/Tutorial.md doesn't compile"
Seems like `type UnhandledInputFunc func(app IApp, ev interface{}) bool` was updated, and the second example on the Tutorial doesn't compile anymore.

[2019-07-18 22:56] gcla commented on #20
Thanks, I've updated the documentation. I let it get out-of-date and really ought to connect it to the real source somehow :-/

[2019-07-18 22:56] #20 closed

[2019-07-19 10:38] deanchou opened #21 "gowid.UrwidColor is invalid"
panic: Color UrwidColor(dark gray) of type *gowid.UrwidColor is invalid

goroutine 1 [running]:
github.com/gcla/gowid.(*UrwidColor).ToTCellColor(0xc0000aa880, 0x3, 0x639a40)
	/data/code/go/pkg/mod/github.com/gcla/gowid@v1.0.0/decoration.go:627 +0x4a6
github.com/gcla/gowid.IColorToTCell(0x6379e0, 0xc0000aa880, 0x1, 0x3, 0xc000018170)
	/data/code/go/pkg/mod/github.com/gcla/gowid@v1.0.0/decoration.go

[2019-07-19 23:02] gcla commented on #21
Hi - thanks for the report. I think this problem is fixed by the following commit:

https://github.com/gcla/gowid/commit/8202e3a669491853952ed674a5c81bf049f44dac

Would it be possible for you to update your project to use the latest? If you are using go modules, I think this command should work:

[code]

[2019-07-20 01:44] deanchou commented on #21
Updated and test passed
Thank you

[2019-07-20 01:48] #21 closed

[2019-07-31 11:55] asv opened #22 "How implement event 'lost focus' on IWidget?"
For example, implement content validation for Edit widget.

[2019-08-06 23:38] gcla commented on #22
Hi - sorry for the long delay in replying. One suggestion would be to do it like this, from termshark:

https://github.com/gcla/termshark/blob/master/widgets/filter/filter.go#L241

In short, a callback is set on the edit widget which is invoked when the text changes. I use that to set the background color of the filter, depending on whether what is entered is syntactically valid. Will that work fo

[2019-09-01 11:34] klamonte opened #24 "gowid-terminal example hangs on DEL (xterm/vt220 backspace)"
Using xterm, running gowid-terminal, if I press backspace (^?, DEL), the terminal demo hangs on all input.  Some bits from my .Xresources that might be helpful:

[code]

Some other issues:

I am the author of [Jexer](https://gitlab.com/klamonte/jexer), another TUI framework, and am testing gowid's terminal support for its features.  If you run 'java -jar path/to/jexer.jar', you may also notice the

[2019-09-05 01:47] gcla commented on #24
Many thanks for this detailed report and test cases!

I should sheepishly admit that I was unaware of jexer, but I've just been going through your front page, and the examples look great.

[2019-09-21 16:24] gcla opened #25 "apps run slowly on weak systems when there's lots of mouse movement"
For more information, see termshark issue https://github.com/gcla/termshark/issues/61

The reason for this is that mouse movement inside a gowid app generates a large number of tcell mouse events, and currently, gowid applications process them all, in sequence. On complicated widget hierarchies, this can cause a backlog because of the relatively expensive render of the widget hierarchy. The result

[2019-09-21 16:28] #25 closed

[2019-11-09 15:56] gcla commented on #22
Hi @asv - I know it's been a while since you opened this...

I thought I'd let you know I implemented a similar feature to this in termshark. Here's a widget that helps track losing or gaining focus: https://github.com/gcla/termshark/tree/streams/widgets/trackfocus. The widget itself keeps track of how it was last rendered, and when that changes (not focus -> focus and vice-versa) issues a callbac

[2019-12-24 17:32] dawidd6 opened #26 "Create a new release"
Previously on Debian packaging of `termshark`... :laughing:

We currently have 1.0.0 release of this library packaged in Debian. Could you create a new release, so we don't have to jump to different versioning (git)?

[2019-12-24 18:01] gcla commented on #26
Hi! Yes, absolutely, I'll do it now :-)

[2019-12-24 18:24] gcla commented on #26
Just pushed a tag - v1.1.0

[2019-12-24 19:09] dawidd6 commented on #26
Thanks for quick reaction!

[2019-12-30 10:04] #26 closed

[2020-01-17 04:11] gcla commented on #24
Hi @klamonte - only four months later(!) I think these issues are now resolved. Thanks again for the detailed report. I've really enjoyed experimenting with jexer and will recommend it to all my java-writing colleagues!

[2020-01-17 04:11] #24 closed

[2020-01-18 00:20] gcla commented on #24
Hi @klamonte - I wanted to learn more about jexer's support for sixels, and while googling, found this:

https://jexer.sourceforge.io/evolution.html

I don't know if you'll see this message, and it's only a small thing, but for what it's worth, count me among those that find text interfaces to be functional and beautiful, and as a brand new admirer of jexer and its wide range of features. Jexer is

[2020-02-09 12:34] soopsio opened #27 "Some utf8 character widths were miscalculated in the terminal component"
In the demo code, when ZSH_THEME was using powerlevel9k, character widths were miscalculated, causing the right toolbar to span lines
![image](https://user-images.githubusercontent.com/32614138/74102108-725d5000-4b7b-11ea-9b6f-9c8ed66d926e.png)

[2020-02-09 16:37] gcla commented on #27
Thanks for the report @soopsio , I'll take a look asap

[2020-02-29 15:47] gcla commented on #27
Sorry @nxsre that I have taken so long to look at this - just busy at work at the moment. I hope to get to it soon

[2020-06-29 03:54] gcla commented on #27
Hi @nxsre - it's been a long time since I promised to look at this, so I understand if you've moved on to other projects. If this bug is still a problem for you, would you be able to send me some information that would help me reproduce it? I am testing on Ubuntu 20.04 with gnome terminal, zsh, oh-my-zsh and the powerlevel9k theme running the gowid demo inside and outside tmux, but don't see any s

[2020-07-02 05:12] nxsre commented on #27
My system is macOS 10.14.6, I just tested it, and I still have this problem
![image](https://user-images.githubusercontent.com/32614138/86318851-a853bb80-bc65-11ea-9627-1c3a468ce34c.png)

[2020-07-06 05:49] nxsre commented on #27
Again, I verified that the problem appeared to be only on macOS terminals and that CentOS 7 was fine

[2020-08-18 15:41] coneshape commented on #7
I am also trying to learn gowid and am having trouble with the examples and documentation. It seems good at a more advanced level, but for a beginner it is really dense

Something I have noticed with the examples is that they either show you the bare minimum of constructing specific widgets or they go all out and implement an entire application. For instance with examples/gowid-widgets4 it shows h

[2020-10-14 10:44] alexanderturner opened #28 "broken on go 1.15.2?"
Could be me?

[code]

[2020-10-15 02:22] gcla commented on #28
Thanks @alexanderturner , I'll look at this asap...

[2020-10-16 03:22] gcla commented on #28
Hi @alexanderturner - any chance you have GO111MODULE turned off? I tried this

[code]
or
[code]

That seemed to work. I'm on go 1.15 linux/amd64

[code]

[2020-10-16 06:53] alexanderturner commented on #28
That did it! Thanks for your responsiveness and glad this was a really easy one :)

[2020-10-16 06:53] #28 closed

[2020-11-12 05:53] ssgelm opened #30 "Release new version"
Hi! I am working on the Debian packaging for termshark and I see that it requires functionality that is not yet in a tagged version of gowid. If necessary I can just package it based on the appropriate git sha but would you be willing to cut a new tagged release of gowid? If so it would make things easier for me!

[2020-11-14 23:00] gcla commented on #30
Hi @ssgelm! Yes, would a tag < v1.0 work for your packaging requirements? Sorry for the delay in replying, and thank you for packaging termshark :-)

[2020-11-14 23:04] ssgelm commented on #30
Yeah honestly any version (greater than the current release of course!) is totally fine, just a little cleaner to package actual releases than random git commits, though we realistically end up doing that a ton too... 😄

[2020-11-14 23:16] gcla commented on #30
I just pushed v1.2.0 :-)

[2021-02-18 19:53] nickw8 opened #31 "How to implement this layout"
We are working on a small project that will let us practice vim. Your terminal ui seems like the one closest to what we want but we are having a hard time figuring it out since we are new to golang. We are trying to adjust your terminal example and would like to end up with something like the following:

![Screen Shot 2021-02-17 at 3 14 30 PM](https://user-images.githubusercontent.com/1335600/1084

[2021-02-18 21:40] gcla commented on #31
Hi @nickw8 - I'll get back to you later today with some suggestions :-)

[2021-02-19 16:09] nickw8 commented on #31
Thanks, here is the repo. https://github.com/nickw8/vimkatas I think we got the panes working but now it looks like since vim captures the keystrokes, we cant sell kill commands or open a dialog box to move to the next exercise

[2021-02-19 20:58] nickw8 commented on #31
I think we figured out the vim grabbing the keystrokes. Now we are stuck on how to get the widgets to reload once the exercise is done. Updated code is in the repo

[2021-02-19 22:28] nickw8 commented on #31
![Screen Shot 2021-02-19 at 3 24 25 PM](https://user-images.githubusercontent.com/1335600/108568072-a7d86580-72c6-11eb-9f52-72a33ea1ca33.png)

We got the quite button to work. The problem is we want to pull in a different file for vim, output and tips when hitting next.

our next button is set up like this:
[code]
func makeNewExerciseView() (*exerciseView, error){

	getKata, err := handlers.Select

[2021-02-20 19:11] gcla commented on #31
Hi @nickw8 - I sent you a PR with a small fix for the next button issue, and noted a couple of other details to take care of. Happy to help more - let me know!

[2021-02-22 16:36] nickw8 commented on #31
Thanks! That helped a ton! Got it all working with your help and now looking into killing the orphaned vim stuff. Really appreciated the help

[2021-04-29 14:21] fkasumovic opened #33 "Most of the images/screenshots in Widgets.md are missing"
Check
https://github.com/gcla/gowid/blob/master/docs/Widgets.md

[2021-05-01 03:17] gcla commented on #33
Yikes - thanks for that! I'll look into it this weekend

[2021-05-15 21:13] #33 closed

[2022-02-11 15:34] Peter2121 opened #40 "Application crashes - "integer divide by zero""
I built the following test app:
[code]
If I start it and press "up" or "down" key - it crashes the following way:

[code]

[2022-02-11 17:56] Peter2121 commented on #40
I've just tried the last git version - the same thing (crash at widgets/grid/grid.go:407)

[2022-02-11 21:50] gcla commented on #40
Thanks @Peter2121 , I'll look at this ASAP.

[2022-02-14 05:32] gcla commented on #40
Hi @Peter2121 - I reproduced your crash from your full example above. Sorry it's not fixed yet, but I'll try to get something pushed very soon.

[2022-02-14 10:58] Peter2121 opened #41 "Terminal widget crashes: invalid memory address or nil pointer dereference"
According to the document [https://github.com/gcla/gowid/blob/master/docs/Widgets.md](https://github.com/gcla/gowid/blob/master/docs/Widgets.md) :
_The terminal canvas implements io.Writer allowing a client to write ANSI codes using this standard Golang interface._

I'm trying to send something to a terminal widgets, adding the following code after [https://github.com/gcla/gowid/blob/b14cbf6edf409

[2022-02-18 10:42] Peter2121 commented on #41
OK, I see, the canvas is not created yet here.

[2022-02-18 10:42] #41 closed

[2022-02-28 14:38] Peter2121 commented on #40
Workaround:
[code]
So, up/down keys are not processed by grid widget.

[2022-03-09 10:21] Peter2121 opened #43 "[Feature request] Handling mouse double-click in button widget"
It would be nice that button widget handles mouse double-click events at the same manner it handles KeyEnter event - call w.Click(app).

[2022-03-18 10:19] Peter2121 opened #44 "[Feature Request] Scroll support in terminal widget"
It would be nice to see the support of scroll in terminal widget.

[2022-04-27 03:31] #30 closed

[2022-04-29 23:41] gcla commented on #44
Hi @Peter2121 - I finally had some time to work on this! Please give it a try, if it's still useful to you, and let me know if it does the job.

[2022-05-01 20:35] gcla commented on #43
Hi @Peter2121 - I've pushed up experimental support for double-click handlers in the button widget. You can update to this version of gowid by running the following inside the directory of your project's main module:

[code]

You can add a double-click handler to your button in a similar way to how you would add a regular click handler:

[code]

I've set it up so that if a double-click handler run

[2022-05-01 20:39] #22 closed

[2022-05-01 20:39] #31 closed

[2022-05-02 09:03] Peter2121 commented on #44
This is _really_ a great improvement! Thanks a lot!
I've just tried it - for me it works as expected. I need some time to test it in different environments, but I think that this issue can be closed - if I find any issue I'll open another one.

[2022-05-02 10:00] Peter2121 commented on #44
I see a problem though.
I pass Ctrl-Z as a meta key to the terminal. The key still works (the next input is ignored by the terminal), but UnhandledInput is not called.

[2022-05-02 14:08] gcla commented on #44
Thanks @Peter2121 , I'll check that out too.

[2022-05-02 18:17] gcla commented on #44
Hi @Peter2121 - could you help me to reproduce the issue? I tried a test with the terminal demo in `examples/gowid-terminal/` - I added a log line to `UnhandledInput` like this
[code]
If I then run the terminal demo and hit `C-b n` (n being a key that will not be processed), I see the log line appear.

I am guessing you have `HotKeyFunctions` set via the `Options` struct to your terminal. The way

[2022-05-02 18:57] Peter2121 commented on #44
Thanks for digging, @gcla !
I don't set any `HotKeyFunctions` for my terminal at all.
I want just block terminal input with `HotKey`, to be able to process the next key pressed by `UnhandledInput`. Maybe it is not the correct approach, but it was working in gowid just before you added scroll support. I have the same logger in `UnhandledInput`, I see that this function is not fired. The key followi

[2022-05-03 03:12] gcla commented on #44
Hi @Peter2121 - I think I see the error I made. Could you try with the latest from HEAD? I also added an `OnHotKey(..)` callback to the widget, in case that's useful. The demo `examples/gowid-terminal` uses the callback to turn the title blue while the hotkey is active. I will follow your project with interest now! If now, or as you make further progress, you would be willing to send me a screensh

[2022-05-04 08:16] Peter2121 commented on #43
I confirm that a double-click handler I added runs correctly in my project. I don't have a special click handler, but I see that the button is correctly selected if I double-click it, so the 'internal' widget click handler is correctly fired. This behavior is 100% OK for me.

[2022-05-04 08:30] Peter2121 commented on #44
It seems to be fixed (tested the HEAD of doubleclick branch).

[2022-05-10 04:09] gcla commented on #44
Thanks @Peter2121 , I'll check this out!

[2022-06-13 12:42] Peter2121 commented on #44
Any news here? I saw some commits in master, are they related to the input focus problem?

[2022-06-19 23:46] gcla commented on #44
Sorry @Peter2121 , I switched my attention and then have been distracted for one reason or another. I'll investigate this ASAP.

[2022-06-26 17:28] gcla commented on #44
hi @Peter2121 - I've been trying to reproduce this on my simple terminal demo program, and haven't been able to yet. You can run that demo by typing this in a shell that's in the root of the gowid git repo:
[code]
Would you mind trying to see if you see the same symptoms with that program? What I see is that after generating a few screens of text, then clicking up a few times, then clicking down a

[2022-07-04 08:44] Peter2121 commented on #44
Hi @gcla
Sorry for delay, I was really busy the last week.
Yes, I have exactly the same symptoms running examples/gowid-terminal/terminal.go on my workstation.
Doing some efforts (some random mouse clicks and buttons presses), I can get the focus back. Unfortunately, it is really random, I cannot understand what _really_ brings the focus back.
I'm ready to debug deeper, please, give me some ideas

[2022-07-04 08:54] Peter2121 commented on #44
BTW, in the same example the exit on Ctrl-C or Esc does not work for me.
I tested in two different terminaux (Terminology and LXTerminal) and in two different shells (zsh and bash) - the same behavior.

[2022-07-06 14:59] Peter2121 commented on #44
I patched terminal.go as follows, I've got the behavior I supposed to have ;)

[code]
Maybe there is a better way to obtain the same result ;)

[2022-07-08 02:32] gcla commented on #44
Terrific! Thank you! This is concise and I don't see any problem with applying this directly. I'll get things merged and tagged this weekend.

[2022-07-09 16:48] gcla commented on #44
Hi @Peter2121 - I applied your patch with a small tweak, pushed to master and updated your doubleclick branch too. Thanks!

[2022-07-09 18:38] #44 closed

[2022-07-17 01:31] gcla commented on #43
All merged now - I'll close this :-)

[2022-07-17 01:31] #43 closed

[2022-07-25 09:08] Peter2121 opened #46 "[ QUESTION ] Update widget NOW"
I use edit widget to show command's output. According to the gowid documentation, I use
`app.Run(gowid.RunFunction(func(app gowid.IApp) { <some code> app.Redraw() }` construction to update the content of the edit widget. It works correctly, but the updates received by the widget are not very frequent, really I get only one update at the end of my command, so I cannot see the progress of command ex

[2022-08-10 09:59] Peter2121 opened #47 "Application crashes sometimes in RedrawTerminal"
...with the following error in console:

[code]

`cbsd-tui.go:1265` is just `app.MainLoop(handler{})`

The problem arrives when I update a dialog (with edit widget inside) in cycle showing the output of a command as it comes. The dialog is created as follows:

[code]

NewEditWithScrollbar is taken from editor example.

I suppose that there are some race conditions somewhere...

[2022-08-27 02:53] gcla commented on #47
Hi @Peter2121 - I'm sorry for the slow support lately.

This backtrace has me puzzled. Is there any chance you have local modifications to the columns widget? The reason I ask is that at line 550 in columns.go, this cast is failing:
[code]
But at line 475, prior to the failure, this code runs:
[code]
The error indicates an invalid cast from `gowid.RenderFixed` to `gowid.IRenderWithWeight`.

[2022-08-27 03:07] gcla commented on #46
Hi @Peter2121 - one thing to watch for is to ensure `RedrawTerminal` is only called from the "main" UI-updating goroutine. If you use `app.Run(...)`, that ensures your function will be issued in that way. But `app.Run(...)` will call `RedrawTerminal` automatically for you anyway (maybe that shouldn't always be the case - I'll think about that) - so the explicit call of yours to `RedrawTerminal` wo

[2022-08-30 14:32] Peter2121 commented on #47
I've just checked the sources of the module `github.com/gcla/gowid v1.4.1-0.20220717013040-1d7a75b6f5cb` declared in go.mod - there is the same code in `columns.go`. So, for sure, there are no local modifications here.

I think, the important point here is that it works correctly in 95% of cases and crashes _sometimes_.

[2022-08-30 14:41] Peter2121 commented on #46
In [cbsd-tui.go](https://github.com/Peter2121/cbsd-tui/blob/master/cbsd-tui.go) at line 777 I check if there are something new in a file. If yes - I need to update `edit` widget named `logspace` immediately with the additional text from `buf`. So, I do the following:
[code]

It works, but it seems that there is a delay between the update of the text in my file and in the widget.